# Question 1

Consider the following Python module:
a = 0
def b():
global a a = c(a)
def c(a):
return a + 2
After importing the module into the interpreter, you execute:
>>> b() 
>>> b() 
>>> b() 
>>> a ?

What value is displayed when the last expression (a) is evaluated? Explain your answer by indicating what happens in every executed statement.

# Answer

In [15]:
a = 0

def b():
    global a
    a = c(a)

def c(a):
    return a + 2

In [16]:
b()

In [17]:
b()

In [18]:
b()

In [19]:
a

6

Once â€˜aâ€™ is evaluated, it returned the value of â€˜6â€™ as an output, in every execution of statement the following sequence has been happened:
â€¢	For the first statement of â€˜b()â€™ the global value has been updated to â€˜0â€™
â€¢	For the second statement of â€˜b()â€™ the global value has been updated to â€˜2â€™
â€¢	For the third statement of â€˜b()â€™ the global value has been updated to â€˜4â€™
â€¢	For the final statement of â€˜aâ€™ the global value has been updated to â€˜6â€™
Therefore, The value of 6 will be printed as an output.

# Question 2

Function fileLength(), given to you, takes the name of a file as input and returns
the length of the file:
>>> fileLength('midterm.py')
284
>>> fileLength('idterm.py')
Traceback (most recent call last):
File "<pyshell#34>", line 1, in <module>
fileLength('idterm.py')
File "/Users/me/midterm.py", line 3, in fileLength
infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory:
'idterm.py'
As shown above, if the file cannot be found by the interpreter or if it cannot be read
as a text file, an exception will be raised. Modify function fileLength() so that a
friendly message is printed instead:
>>> fileLength('midterm.py')
358
>>> fileLength('idterm.py')
File idterm.py not found.

# Answer

In [1]:
def file_length(file_name):
    try:
        with open(file_name, 'r') as infile:
            contents = infile.read()
        return len(contents)
    except FileNotFoundError:
        print(f"File {file_name} not found.")

print(file_length('Filelength.txt'))
print(file_length('file.txt'))

123
File file.txt not found.
None

# Question 3

Write a class named Marsupial that can be used as shown below:
>>> m = Marsupial()
>>> m.put_in_pouch('doll')
>>> m.put_in_pouch('firetruck')
>>> m.put_in_pouch('kitten')
>>> m.pouch_contents()
['doll', 'firetruck', 'kitten']

Now write a class named Kangaroo as a subclass of Marsupial that inherits all the
attributes of Marsupial and also:
a. extends the Marsupial __init__ constructor to take, as input, the
coordinates x and y of the Kangaroo object,
b. supports method jump that takes number values dx and dy as input and
moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and
c. overloads the __str__ operator so it behaves as shown below.
>>> k = Kangaroo(0,0)
>>> print(k)
I am a Kangaroo located at coordinates (0,0)
>>> k.put_in_pouch('doll')
>>> k.put_in_pouch('firetruck')
>>> k.put_in_pouch('kitten')
>>> k.pouch_contents()
['doll', 'firetruck', 'kitten']
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> print(k)
I am a Kangaroo located at coordinates (3,0)

# Answer

In [22]:
class Marsupial:
    def __init__(self):
        self.pouch = []

    def put_in_pouch(self, item):
        self.pouch.append(item)

    def pouch_contents(self):
        return self.pouch

class Kangaroo(Marsupial):
    def __init__(self, x, y):
        super().__init__() 
        self.x = x
        self.y = y

    def jump(self, dx, dy):
        self.x += dx
        self.y += dy

    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"

m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
print(m.pouch_contents())

k = Kangaroo(0, 0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())
k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)
print(k)

['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

# Question 4

Write function collatz() that takes a positive integer x as input and prints the
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying
this rule to the previous number x in the sequence:
x = { ð‘¥/2 ð‘–ð‘“ ð‘¥ ð‘–ð‘  ð‘’ð‘£ð‘’ð‘›
3ð‘¥ + 1 ð‘–ð‘“ ð‘¥ ð‘–ð‘  ð‘œð‘‘ð‘‘
Your function should stop when the sequence gets to number 1. Your
implementation must be recursive, without any loops.
>>> collatz(1)
1
>>> collatz(10)
10
5
16
8
4
2
1

# Answer

In [23]:
def collatz(x):
    print(x)
    if x == 1:
        return
    elif x % 2 == 0:
        collatz(x // 2)
    else:
        collatz(3 * x + 1)

collatz(1)
print()
collatz(10)

1

10
5
16
8
4
2
1

# Question 5

Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.
>>> binary(0)
0
>>> binary(1)
1
>>> binary(3)
11
>>> binary(9)
1001

# Answer

In [24]:
def binary(n):
    if n < 2:
        print(n, end='')
    else:
        binary(n // 2)
        print(n % 2, end='')

binary(0)
print()
binary(1)
print()
binary(3)
print()
binary(9)
print()

0
1
11
1001

# Question 6

Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the
document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your
implementation using w3c.html.
>>> infile = open('w3c.html')
>>> content = infile.read()
>>> infile.close()
>>> hp = HeadingParser()
>>> hp.feed(content)
W3C Mission
Principles

# Answer

In [2]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.in_heading = False
        self.heading_level = 0

    def handle_starttag(self, tag, attrs):
        if tag in ['h1', 'h2', 'h3', 'h4', 'h5', 'h6']:
            self.in_heading = True
            self.heading_level = int(tag[1])

    def handle_endtag(self, tag):
        if tag in ['h1', 'h2', 'h3', 'h4', 'h5', 'h6']:
            self.in_heading = False

    def handle_data(self, data):
        if self.in_heading:
            print(' ' * (self.heading_level - 1) + data.strip())

infile = open('w3c.html')
content = infile.read()
infile.close()

hp = HeadingParser()
hp.feed(content)

W3C Mission
 Principles

# Question 7

Implement recursive function webdir() that takes as input: a URL (as a string) and non-negative integers depth and indent. Your function should visit every web page reachable from the starting URL web page in depth clicks or less, and print each web page's URL. As shown below, indentation, specified by indent, should be used to indicate the depth of a URL.
>>>
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)
http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
http://reed.cs.depaul.edu/lperkovic/csc242/test2.html
http://reed.cs.depaul.edu/lperkovic/csc242/test4.html
http://reed.cs.depaul.edu/lperkovic/csc242/test3.html
http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

# Answer

In [1]:
import requests
from bs4 import BeautifulSoup
from urllib.parse import urljoin

def webdir(url, depth, indent):
    def crawl(url, depth, indent, visited):
        if depth < 0 or url in visited:
            return
        visited.add(url)
        try:
            response = requests.get(url)
            response.raise_for_status()
        except requests.RequestException as e:
            print(' ' * indent + url)
            return

        print(' ' * indent + url)
        
        if depth == 0:
            return
        
        soup = BeautifulSoup(response.text, 'html.parser')
        links = soup.find_all('a', href=True)
        
        for link in links:
            new_url = urljoin(url, link['href'])
            crawl(new_url, depth - 1, indent + 4, visited)
    
    crawl(url, depth, indent, set())


webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test2.html', 2, 0)
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test3.html', 2, 0)
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test4.html', 2, 0)

http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
http://reed.cs.depaul.edu/lperkovic/csc242/test2.html
http://reed.cs.depaul.edu/lperkovic/csc242/test3.html
http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

# Question 8

Write SQL queries on the below database table that return:
a) All the temperature data.
b) All the cities, but without repetition.
c) All the records for India.
d) All the Fall records.
e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.
f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.
g) The total annual rainfall for Cairo.
h) The total rainfall for each season.

In [38]:
import sqlite3


conn = sqlite3.connect('clima.db')
cursor = conn.cursor()

# Create the table
cursor.execute('''
CREATE TABLE IF NOT EXISTS Weather (
    City TEXT,
    Country TEXT,
    Season TEXT,
    Temperature REAL,
    Rainfall REAL
)
''')

# Inserting the data
data = [
    ('Mumbai', 'India', 'Winter', 24.8, 5.9),
    ('Mumbai', 'India', 'Spring', 28.4, 16.2),
    ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
    ('Mumbai', 'India', 'Fall', 27.6, 346.0),
    ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
    ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
    ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
    ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
    ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
    ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
    ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
    ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
]

cursor.executemany('''
INSERT INTO Weather (City, Country, Season, Temperature, Rainfall)
VALUES (?, ?, ?, ?, ?)
''', data)

# Commit the changes
conn.commit()

# (a) Select all the data
cursor.execute('SELECT * FROM Weather')
rows = cursor.fetchall()
print("All the temperature data:")
for row in rows:
    print(row)
    
# (b). Select distinct city data
cursor.execute('SELECT DISTINCT City FROM Weather')
rows = cursor.fetchall()
print("All the distinct cities from table :")
for row in rows:
    print(row)

# (c). select all records for India
cursor.execute('SELECT * FROM Weather WHERE Country="India"')
rows = cursor.fetchall()

# Print the results
print("All records for India:")
for row in rows:
    print(row)
    
# (d) All the Fall records
cursor.execute('SELECT * FROM Weather WHERE Season="Fall"')
rows = cursor.fetchall()

# Print the results
print("All Fall records:")
for row in rows:
    print(row)
    
# (e) city, country, and season where average rainfall is between 200 and 400 mm
query = '''
SELECT City, Country, Season
FROM Weather
WHERE Rainfall BETWEEN 200 AND 400
'''
cursor.execute(query)
results = cursor.fetchall()

# Print the results
print("The city, country, and season where average rainfall is between 200 and 400 mm:")
for row in results:
    print(row)

# (f) city and country where average Fall temperature is above 20 degrees, in increasing temperature order
query = '''
SELECT City, Country
FROM Weather
WHERE Season = 'Fall' AND Temperature > 20
ORDER BY Temperature ASC
'''
cursor.execute(query)
results = cursor.fetchall()

# Print the results
print("The city and country where average Fall temperature is above 20 degrees, in increasing temperature order:")
for row in results:
    print(row)
    
# (g) total annual rainfall for Cairo
query = '''
SELECT SUM(Rainfall) AS TotalAnnualRainfall
FROM Weather
WHERE City = 'Cairo'
'''

# Execute the query
cursor.execute(query)
result = cursor.fetchone()

# Print the result
print("Total Annual Rainfall for Cairo:", result[0])

# (h) total rainfall for each season
query = '''
SELECT Season, SUM(Rainfall) AS TotalRainfall
FROM Weather
GROUP BY Season
'''

# Execute the query
cursor.execute(query)
results = cursor.fetchall()

# Print the results
for row in results:
    print(f"Season: {row[0]}, Total Rainfall: {row[1]}")


# Close the connection
conn.close()

All the temperature data:
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Winter', 4.2, 207.7)
('London', 'United Kingdom', 'Spring', 8.3, 169.6)
('London', 'United Kingdom', 'Summer', 15.7, 157.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Winter', 13.6, 16.5)
('Cairo', 'Egypt', 'Spring', 20.7, 6.5)
('Cairo', 'Egypt', 'Summer', 27.7, 0.1)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
All the distinct cities from table :
('Mumbai',)
('London',)
('Cairo',)
All records for India:
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
All Fall records:
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
The city, country, and season where average rainfall is between 200 and 400 mm:
('Mumbai', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')
The city and country where average Fall temperature is above 20 degrees, in increasing temperature order:
('Cairo', 'Egypt')
('Mumbai', 'India')
Total Annual Rainfall for Cairo: 27.6
Season: Fall, Total Rainfall: 569.0
Season: Spring, Total Rainfall: 192.29999999999998
Season: Summer, Total Rainfall: 1706.5
Season: Winter, Total Rainfall: 230.1

# question 9

. Suppose list words is defined as follows:
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following
lists:
a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE',
'LAZY', 'DOG']
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog']
c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list
words).
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN',
'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy',
4], ['DOG', 'dog', 3]] (the list containing a list for every word of list
words, where each list contains the word in uppercase and lowercase and the
length of the word.)
e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog'] (the list of words in list words containing 4 or more
characters.)

# Answer

In [5]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

# a) Convert all words to uppercase:
words_upper = [word.upper() for word in words]
print("a)", words_upper)

# b) Convert all words to lowercase:
words_lower = [word.lower() for word in words]
print("b)", words_lower)

# c) Get the lengths of words:
word_lengths = [len(word) for word in words]
print("c)", word_lengths)

# d) Create a list containing a list for every word, with word in uppercase, lowercase, and length:
word_info = [[word.upper(), word.lower(), len(word)] for word in words]
print("d)", word_info)

# e) Select words containing 4 or more characters:
words_4_or_more = [word for word in words if len(word) >= 4]
print("e)", words_4_or_more)

a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
c) [3, 5, 5, 3, 5, 4, 3, 4, 3]
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
e) ['quick', 'brown', 'jumps', 'over', 'lazy']